@import 'styles/variables';

.app {
    .sidebar {
        width: $sidebarClosedWidth;
    }

    .currency-list {
        left: $sidebarClosedWidth;
    }

    &.open {
        .sidebar {
            width: $sidebarWidth;
        }

        .currency-list {
            left: $sidebarWidth;
        }
    }
}